* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.overall_header {
  background-color: #f66582;
}
a {
  font-size: 19px;
}
p {
  font-size: 19px;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  background-color: #f66582;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
header div {
  width: 47%;
  display: flex;
  justify-content: center;
}
header div span {
  margin: 0 auto;
  font-size: 17px;
  color: white;
}
header div span img {
  margin-right: 4px;
  margin-bottom: -2px;
}
@media (max-width: 767px) {
  header {
    display: flex;
    background-color: #fe7f9c;
    padding: 2% 5%;
  }
  header div {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  header div span {
    margin: 0 0;
    font-size: 2.6vw;
  }
  header div span img {
    margin-right: 5px;
  }
  header div .four {
    padding-left: 15%;
  }
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  height: 80px;
}
label.logo {
  width: auto;
  margin-left: 20px;
}
nav ul {
  float: right;
  margin-top: 28px;
}
nav ul li {
  display: contents;
}
nav ul li a {
  color: blue;
  padding: 7px 55px;
  font-size: 150%;
}

.checkbtn {
  font-size: 30px;
  float: right;
  margin-right: 5%;
  margin-top: 3%;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 767px) {
  label.logo {
    width: auto;
    margin-left: 30%;
  }
  .checkbtn {
    display: block;
    position: relative;
  }
  nav ul {
    position: absolute;
    width: 100%;
    background-color: #fe7f9c;
    left: -100%;
    text-align: center;
    z-index: 1;
    padding-top: 15px;
    margin-top: 0px;
  }
  nav ul li {
    display: block;
    height: 40px;
  }
  nav ul li a {
    font-size: 17px;
    color: white;
  }
  nav ul li:hover {
    background-color: pink;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
.background_image {
  background-image: url("banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.main {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.cards {
  height: auto;
  width: 400px;
  background-color: white;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding-left: 2%;
  padding-top: 11px;
  padding-bottom: 11px;
  justify-content: space-evenly;
}
.button_text {
  background: blue;
  color: white;
  font-size: 19px;
  padding: 0.6rem;
  margin-left: 0%;
}
.cards h3 {
  color: blue;
  font-size: 2.2rem;
  margin: 1.6rem;
}
.cards p {
  font-size: 21px;
  margin: 1.7rem;
  margin-top: -0.2rem;
}
.button1 {
  color: white;
  margin: 1.2rem;
}

@media (max-width: 767px) {
  .main {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 1rem;
    display: flex;
  }
  .cards {
    height: auto;
    margin: 4%;
    width: 230px;
    display: flex;
    opacity: 0.6;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0;
    padding-bottom: 0;
  }
  .button_text {
    font-size: 12px;
    padding: 0.3rem;
  }
  .cards h3 {
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0;
  }
  .cards p {
    font-size: 15px;
    padding: 0.8rem;
    margin: 0;
  }
  .cards .button1 {
    font-size: 16px;
  }
}
.main_heading {
  text-align: center;
  color: blue;
  font-size: 1.5rem;
  font-size: 2rem;
  margin: 2rem;
}
.overall_content {
  max-width: 1400px;
  margin: 0 auto;
}
.content {
  max-width: 1400px;
  margin: 0 auto;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.content img {
  width: auto;
  border-radius: 50%;
  margin-left: 24.5%;
}
.content .content1_card1 {
  background-color: lightgreen;
  width: 13rem;
  color: white;
  height: 200px;
  text-align: center;
  border-radius: 20%;
  display: flex;
  padding: 2% 2%;
  flex-direction: column;
  margin-top: -40px;
}
.content1_card1 h3 {
  margin-top: 25%;
}
.content1_card1 p {
  margin: 5%;
}
#cont_card1 {
  background-color: #9acb3b;
}
#cont_card2 {
  background-color: #ba67ff;
}
#cont_card3 {
  background-color: #f8ae31;
}
#cont_card4 {
  background-color: #f56564;
}

@media (max-width: 767px) {
  .main_heading {
    margin: 1rem;
  }
  .content {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .content img {
    width: auto;
    border-radius: 50%;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.backgound_color_expand {
  background-color: #5851a1;
}
footer {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 3rem 2rem;
}

footer h3 {
  color: #e2cc18;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 200%;
}
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 33vw;
  margin-left: 1.5rem;
}
.footer_left .pc_text {
  width: 300px;
  max-width: 300px;
}
.footer_left .mob_text {
  display: none;
}
.footer_left a {
  cursor: pointer;
}
.footer_left .social_pics {
  display: flex;
  gap: 1rem;
}
.footer_logo {
  margin-left: -5%;
  width: 200px;
}
.footer_middle {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 43vw;
}
.footer_middle .link_symbol {
  color: gold;
  font-size: x-small;
  margin-right: 0.3rem;
}
.footer_middle .footer_middle_links {
  display: flex;
}
.footer_middle .footer_middle_links .footer_middle_part1 {
  padding-right: 25%;
}

.footer_middle_part1 ul li {
  margin: 1rem 0;
}
.footer_middle_part2 ul li {
  margin: 1rem 0;
}
ul li a {
  font-size: 130%;
}
footer p {
  color: #beafce;
  font-size: 110%;
}
.footer_right {
  display: flex;
  flex-direction: column;
  gap: 10%;
  width: 33vw;
}

@media (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    gap: 2rem;
  }
  .footer_logo {
    margin-left: 0;
  }
  .footer_left .pc_text {
    display: none;
  }
  .footer_left .mob_text {
    display: block;
    width: 78%;
    max-width: 280px;
  }
  .footer_left {
    width: 100%;
    margin-left: 0;
  }
  .footer_middle {
    width: 100%;
  }
  .footer_right {
    width: 100%;
    gap: 1rem;
  }
  ul li a {
    font-size: 100%;
  }
  footer p {
    font-size: 16px;
  }
  footer h3 {
    font-size: 1rem;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  header div span {
    font-size: 15px;
  }
  header div span img {
    margin-right: 3px;
    margin-bottom: -2px;
  }

  /*NAVIGATION BAR*/

  nav ul li a {
    color: blue;
    padding: 0px 20px;
    font-size: 19px;
  }
  label.logo {
    width: auto;
    margin-left: 0.6%;
  }

  /*MAIN-BANNER*/
  .main {
    height: auto;
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  .cards {
    height: auto;
    width: 32%;
    background-color: white;
    opacity: 0.6;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 0;
  }
  .main .cards h3 {
    font-size: 2.8vw;
    padding: 0.9rem;
    margin: 0;
  }
  .main .cards p {
    font-size: 1.8vw;
    padding: 0.6rem;
    margin: 0;
  }
  .button_text {
    font-size: 15px;
    padding: 0.2rem;
    margin: 0.8rem;
    margin-bottom: 10px;
    margin-left: -35%;
  }
  .button1 {
    margin: 0;
  }

  /*MAIN-CONTENT */
  .content img {
    margin-left: 20%;
  }
  .content .content1_card1 {
    width: 10rem;
    color: white;
    height: 200px;
    text-align: center;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
  }
  .content1_card1 h3 {
    margin-top: 8%;
  }

  .content1_card1 p {
    font-size: 14px;
  }

  /*FOOTER*/
  footer ul li a {
    font-size: 1.5vw;
  }
  footer p {
    font-size: 1.3vw;
  }
  footer h3 {
    font-size: 1rem;
  }
  .footer_left .pc_text {
    width: 80%;
    min-width: 80%;
  }

  .footer_left,
  .footer_middle,
  .footer_right {
    width: 33vw;
  }
  .footer_left {
    margin-left: 0rem;
  }

  .footer_middle .footer_middle_links .footer_middle_part1 {
    padding-right: 15%;
  }
}

@media (max-width: 1240px) and (min-width: 993px) {
  footer p {
    font-size: 12.5px;
  }
  footer ul li a {
    font-size: 14px;
  }
  .footer_left .pc_text {
    width: 250px;
    max-width: 250px;
  }
}
